<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Tracker App</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--  Booststrap CSS*-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Tracker App</h1>
		<div class="jumbotron">
			<h1 class="display-4" th:text=${totalReportedCases}></h1>
			<p class="lead">Total cases as of today</p>
		</div>
		<div class="table">
			<table>
				<tr>
					<th>State</th>
					<th>Country</th>
					<th>Total Cases</th>
				</tr>
				<tr th:each="locationstat : ${locationstats}">
					<td th:text="${locationstat.state}"></td>
					<td th:text="${locationstat.country}"></td>
					<td th:text="${locationstat.latestTotalcases}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>